[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

django = "*"
pillow = "*"
gunicorn = "*"
dj-database-url = "*"
"psycopg2" = "*"
whitenoise = "*"
ipdb = "*"
pylibmc = "*"
python-memcached = "*"


[requires]

python_version = "3.5"
