{% extends 'base.html' %}

{% block content %}
{% load static %}
{% if classical_guitars %}

    {% for guitar in classical_guitars %}
    <main>
        <article>
            <h2>{{ guitar.plan_name.name }}</h2>

            <p>{{ guitar.description }}</p>

        </article>

        <aside>

            <ul>
                <div class="container">
                    {% for image in guitar.images.all %}
                        <a href='{{ image.image.url }}'><img src={{ image.image.url }} alt="An image of guitar"></a>
                    {% endfor %}
                </div>
            </ul>
        </aside>
    </main>
    <main>
        <article>
            <h2>Sample Audio</h2>
                <audio controls>
                    <source src= {{ guitar.voice_sample.url }} type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>
        </article>

        <aside>
            <h2>Specifications</h2>
            <table>
                <colgroup span="2"></colgroup>
                <tr>
                    <th>Component</th>
                    <th>Material</th>
                </tr>
                <tr>
                    <td>Top</td>
                    <td>{{ guitar.top_plates.name }}</td>
                </tr>
                <tr>
                    <td>Back plates and sides</td>
                    <td>{{ guitar.back_plates_and_sides.name }}</td>
                </tr>
                <tr>
                    <td>Neck</td>
                    <td>{{ guitar.neck_wood.name }}</td>
                </tr>
                <tr>
                    <td>Braces</td>
                    <td>{{ guitar.braces.name }}</td>
                </tr>
                <tr>
                    <td>Neck Joint</td>
                    <td>{{ guitar.neck_joint.name }}</td>
                </tr>
            </table>
        </aside>
    </main>
    {% endfor %}
{%else %}
	<p>No guitars </p>
{% endif %}
{% endblock %}



      	<aside>
      		<h2>Favourite photos</h2>

      		<a href="favorite-2.jpg"><img src="favorite-2_th.jpg" alt="Top half of a pretty bird with bright blue plumage on neck, light colored beak, blue headdress, links to larger version of the image"></a>
      		<a href="favorite-3.jpg"><img src="favorite-3_th.jpg" alt="Top half of a large bird with white plumage, very long curved narrow light colored break, links to larger version of the image"></a>
      		<a href="favorite-4.jpg"><img src="favorite-4_th.jpg" alt="Large bird, mostly white plumage with black plumage on back and rear, long straight white beak, links to larger version of the image"></a>
      	</aside>
