<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Luthier Nitin Kumar</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300|Cinzel+Decorative:700' rel='stylesheet' type='text/css'>
	  {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

    <!--[if lt IE 9]>
	  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>
	<header>
	
      <h1>Luthier Nitin Kumar</h1>
      <img src="dove.png" alt="a simple dove logo">

	<nav>
      <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/classical">Guitars</a></li>
        <li><a href="/guitarmaking">Guitar Making</a></li>
        <li><a href="/music">Music</a></li>
		<li><a href="/contact">Contact</a></li>
      </ul>
	</nav>
	</header>

	<main>
		{% block content %}{% endblock %}
	</main>
	
			
		<footer>
      		<p>This fake website example is CC0 — any part of this code may be reused in any way you wish. Original example written by Chris Mills, 2016.</p>

      		<p><a href="http://game-icons.net/lorc/originals/dove.html">Dove icon</a> by Lorc.</p>
		</footer>
  </body>
</html>
