{% extends 'base.html' %}

{% block content %}
{% load static %}
        <article>
      		<h2>Welcome</h2>

			<p>A Luthier is somebody who builds musical instruments of the Lute family. I build classical guitars and ukulele.</p>

			<p>I design instrument with simple constraints for stability, durability, playability and perfect intonation.</p>

			<p>I am teaching guitar making.</p>
s
      	</article>

      	<aside>
      		<h2></h2>

      		<a href="/static/home/Antonio_stradivari.jpg"><img src="/static/home/Antonio_stradivari.jpg" alt="A romanticized print of Antonio Stradivari examining an instrument"></a>
		</aside>

{% endblock %}
