{% extends 'base.html' %}

{% block content %}
{% load static %}
	<main>
        <article>
      		<h2>Welcome</h2>

			<p>I have been playing guitar since many years. I started playing guitar in my teens. I got interested in guitarmaking when I
				needed a guitar to suit my guitar playing, need for a perfect intonation, like any experienced musician, in these fretted instruments.</p>

			<p>I design instrument with simple constraints for stability, durability, playability and perfect intonation.</p>

			<p>I am teaching guitar making.</p>
s
      	</article>

      	<aside>
      		<h3 align="center">Antonio Stradivari examining an instrument</h3>

      		<a href="/static/home/Antonio_stradivari.jpg"><img src="/static/home/Antonio_stradivari.jpg" alt="A romanticized print of Antonio Stradivari examining an instrument"></a>
		</aside>
	</main>

{% endblock %}
